{% extends 'base.html' %}

{% load static %}

{% load mathfilters %}

{% block title %}
Dashboard | Monê
{% endblock title %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body px-3">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <!-- <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Earnings (Monthly)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div> -->
                        <form action="" method="get">
                            <div class="d-flex">
                                <div class="mr-1" style="width: 40%;">
                                    <label for=""
                                        class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Mês</label>
                                    <input type="number" min="1" max="12" class="form-control text-xs font-weight-bold"
                                        name='mes' value="{{month_now}}">
                                </div>
                                <div class="mr-1" style="width: 50%;">
                                    <label for=""
                                        class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Ano</label>
                                    <input type="number" min="1950" max="2100"
                                        class="form-control text-xs font-weight-bold" name='ano' value="{{year_now}}">
                                </div>
                                <div class="d-flex align-items-end">
                                    <input type="submit" value="Ok"
                                        class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card_receita_anual -->
    <!-- Saldo (Mensal) Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Saldo (Mensal)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">R$ {{card_saldo|mul:1}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Receita Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Receita (Mensal)
                        </div>
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">R$ {{card_receitas|mul:1}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-arrow-up fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Gasto (Mensal)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">R$ {{card_gastos|mul:1}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-arrow-down fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Movimentações mensais</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body p-1">
                <div class="chart-area">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas id="myAreaChart" style="display: block; height: 320px; width: 611px;"
                        class="chartjs-render-monitor" width="916" height="480"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Bar Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Saldos mensais</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body p-1">
                <div class="chart-bar pb-1">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas id="myBarChart" style="display: block; height: 245px; width: 273px;"
                        class="chartjs-render-monitor" width="409" height="367"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Economia mensal</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold text-gray-800">Economia <span class="float-right">{{avalue}}%</span>
                </h4>
                <div class="progress mb-4">
                    <div class="progress-bar {{bg_cor}}" role="progressbar" style="width: {{avalue}}%"
                        aria-valuenow="{{avalue}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {% if card_gastos|mul:1 == 0 %}
                <div class="p-2 text-gray-800">Não há movimentações cadastradas</div>
                {% else %}
                {% if card_receitas|mul:1 == 0 %}
                <div class="p-2 text-gray-800">Este mês você gastou <b>R${{dif|mul:1}}</b> a
                    mais do que ganhou.</div>
                <div class="p-2 text-gray-800">Você gastou <b>0,00%</b> a mais de suas receitas.</div>
                {% else %}
                {% if porcen|mul:1 > 100 %}
                <div class="p-2 text-gray-800">Este mês você gastou R${{dif|mul:1}} a mais do que ganhou.</div>
                <div class="p-2 text-gray-800">Você gastou <b>{{porcentagem|mul:1}}%</b> a mais de suas receitas.</div>
                {% else %}
                <div class="p-2 text-gray-800">Este mês você economizou <b>R${{dif|mul:1}}</b> do que ganhou.</div>
                <div class="p-2 text-gray-800">Você economizou <b>{{porcentagem|mul:1}}%</b> de suas receitas.</div>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                                    Receita (Anual)</div>
                                <div class="h5 mb-0 font-weight-bold text-white-800">R$ {{card_receita_anual|mul:1}}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-arrow-up fa-2x text-white-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card bg-danger text-white shadow">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-white text-uppercase mb-1">
                                    Gasto (Anual)</div>
                                <div class="h5 mb-0 font-weight-bold text-white-800">R$ {{card_gasto_anual|mul:1}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-arrow-down fa-2x text-white-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-6 mb-4">

        <!-- Chart Pie -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Gastos por categoria</h6>
            </div>
            <div class="card-body p-2">
                <div class="chart-pie py-1">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    {% if categorias_gastos == '[' %}
                    <h3 class="text-center font-weight-bold text-gray-800">Nenhum gasto cadastrado</h3>
                    {% else %}
                    <canvas id="myPieChart" style="display: block; height: 245px; width: 273px;"
                        class="chartjs-render-monitor" width="409" height="367"></canvas>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

{% block chart %}
<script type="text/javascript">
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function (n, prec) {
                var k = Math.pow(10, prec);
                return '' + Math.round(n * k) / k;
            };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
    }

    // Area Chart Example
    var ctx = document.getElementById("myAreaChart");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            datasets: [{
                label: "Receitas",
                lineTension: 0.3,
                backgroundColor: "rgba(28, 200, 138, 0.05)",
                borderColor: "rgba(28, 200, 138, 1)",
                pointRadius: 3,
                pointBackgroundColor: "rgba(28, 200, 138, 1)",
                pointBorderColor: "rgba(28, 200, 138, 1)",
                pointHoverRadius: 3,
                pointHoverBackgroundColor: "rgba(28, 200, 138, 1)",
                pointHoverBorderColor: "rgba(28, 200, 138, 1)",
                pointHitRadius: 10,
                pointBorderWidth: 2,
                data: {{ receitas_ano }},
    },
        {
            label: "Gastos",
            lineTension: 0.3,
            backgroundColor: "rgba(231, 74, 59, 0.05)",
            borderColor: "rgba(231, 74, 59, 1)",
            pointRadius: 3,
            pointBackgroundColor: "rgba(231, 74, 59, 1)",
            pointBorderColor: "rgba(231, 74, 59, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(231, 74, 59, 1)",
            pointHoverBorderColor: "rgba(231, 74, 59, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: {{ gastos_ano }},
      }],
  },
    options: {
        maintainAspectRatio: false,
            layout: {
            padding: {
                left: 10,
                    right: 25,
                        top: 25,
                            bottom: 0
            }
        },
        scales: {
            xAxes: [{
                time: {
                    unit: 'date'
                },
                gridLines: {
                    display: false,
                    drawBorder: false
                },
                ticks: {
                    maxTicksLimit: 7
                }
            }],
                yAxes: [{
                    ticks: {
                        maxTicksLimit: 5,
                        padding: 10,
                        // Include a dollar sign in the ticks
                        callback: function (value, index, values) {
                            return 'R$' + number_format(value);
                        }
                    },
                    gridLines: {
                        color: "#858796",
                        zeroLineColor: "#858796",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    }
                }],
  },
        legend: {
            display: true
        },
        tooltips: {
            backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                        titleFontColor: '#6e707e',
                            titleFontSize: 14,
                                borderColor: '#858796',
                                    borderWidth: 1,
                                        xPadding: 15,
                                            yPadding: 15,
                                                displayColors: false,
                                                    intersect: false,
                                                        mode: 'index',
                                                            caretPadding: 10,
                                                                callbacks: {
                label: function(tooltipItem, chart) {
                    var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                    return datasetLabel + ': R$' + number_format(tooltipItem.yLabel);
                }
            }
        }
    }
  });
</script>

<script type="text/javascript">
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function (n, prec) {
                var k = Math.pow(10, prec);
                return '' + Math.round(n * k) / k;
            };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
    }

    // Bar Chart Example
    var ctx = document.getElementById("myBarChart");
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            datasets: [{
                label: "Saldo",
                backgroundColor: "#4e73df",
                hoverBackgroundColor: "#2e59d9",
                borderColor: "#4e73df",
                data: {{ saldos_ano }},
    }],
  },
    options: {
        maintainAspectRatio: false,
            layout: {
            padding: {
                left: 10,
                    right: 25,
                        top: 25,
                            bottom: 0
            }
        },
        scales: {
            xAxes: [{
                time: {
                    unit: 'month'
                },
                gridLines: {
                    display: false,
                    drawBorder: false
                },
                ticks: {
                    maxTicksLimit: 6
                },
                maxBarThickness: 25,
            }],
                yAxes: [{
                    ticks: {
                        // min: 0,
                        // max: 15000,
                        maxTicksLimit: 5,
                        padding: 10,
                        // Include a dollar sign in the ticks
                        callback: function (value, index, values) {
                            return 'R$' + number_format(value);
                        }
                    },
                    gridLines: {
                        color: "#858796",
                        zeroLineColor: "#858796",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    }
                }],
    },
        legend: {
            display: true
        },
        tooltips: {
            titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                    titleFontSize: 14,
                        backgroundColor: "rgb(255,255,255)",
                            bodyFontColor: "#858796",
                                borderColor: '#858796',
                                    borderWidth: 1,
                                        xPadding: 15,
                                            yPadding: 15,
                                                displayColors: false,
                                                    caretPadding: 10,
                                                        callbacks: {
                label: function(tooltipItem, chart) {
                    var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                    return datasetLabel + ': R$' + number_format(tooltipItem.yLabel);
                }
            }
        },
    }
});
</script>

<script type="text/javascript">
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    // Pie Chart Example
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                {% for y in categorias_nome %}
            '{{y.nome}}',
          {% endfor %}
        ],
    datasets: [{
        data: {{ categorias_gastos }},
        backgroundColor: [
        {% for x in categorias_cor %}
    '{{x.cor}}',
        {% endfor %}
          ],
    hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
      },
    options: {
        maintainAspectRatio: false,
            tooltips: {
            backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                    borderColor: '#858796',
                        borderWidth: 1,
                            xPadding: 15,
                                yPadding: 15,
                                    displayColors: false,
                                        caretPadding: 10,
        },
        legend: {
            display: true
        },
        cutoutPercentage: 80,
      },
    });
</script>

<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
{% endblock chart %}

{% endblock content %}